body,html{
    overflow: hidden;
    height : 100%;
    width : 100%;
    margin:0;
    padding: 0;
}
canvas{
    background-color: #ccc;
    margin-top : 150px;
    margin-left: 50%;
    transform: translateX(-50%);
}
h1{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
.reset{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 80%;
    top : 40px;
    border-radius: 3px;
    background-image: url(reset.svg);
    background-position: center;
    background-repeat: no-repeat;
    user-select:none;
}
.reset:hover{
    transform: scale(1.5);
    transition: 0.5s;
}